*{box-sizing: border-box;}
body,h1,h2,h3,h4,h5,h6,p,ul,li,p{margin: 0px;padding: 0px;font-family:'Poppins', sans-serif;}
img{max-width: 100%;max-height: 100%;}
a{display: inline-block;text-decoration: none;}
.container{width: 1170px;margin: auto;}
.dflex{display: flex; flex-wrap: wrap;}
.manubar{
	display: flex;
}
#header{
	height: 50px;
  background: #000;
 	line-height: 50px;
}
#header .menubar{
	text-align: center;
}
#header .menubar ul{
	display: inline-block;
}
#header .menubar ul li{
	display: inline-block;	
}
#header .menubar a{
	color:#fff;
	padding:0px 20px;
}
#header .menubar a:after{
	display: block;
	content: "";
	height: 2px;
	width: 0px;
	transition: all 0.6s;
	background-color: blue;
}
#header .menubar a:hover:after{
	width: 38px;
}
#header .menubar a:hover{
	background-color: #ccc;
	color: blue;
}
#header .socialincon a{
	display: inline-block;
	color: #fff;
	padding: 0px 10px;
}
#header .socialincon li{
	display: inline-block;
}

#banner{
	background-image: url('../images/banner1.jpg');
	background-size: cover;
	min-height: 500px;
}
#banner .lipimg{
	margin-top: 100px;
}

#saction1{
	margin-top: 10px;
	background-image: url('../images/welcome-bg-3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#saction1 .col{
	width: 50%;
}
#saction1 .col .details{
	display: inline-block;
	margin-top: 380px;
}
#saction1 .col .details h1{
	font-weight: 400px;    
	color: #6d6a6a;
	font-size: 16px;
	font-family: 'Karla';
}
#saction1 .col .details h2{
	font-size: 60px;
	color: #333;
	padding-top: 20px;
	font-family: 'Abhaya Libre';
}
#saction1 .col .details p{
	font-size: 16px;
	font-family: 'karla';
	font-weight: 400;
	line-height: 1.75;
	color: #6d6a6a;
	padding-top: 20px;
}
#saction1 .col .details h3{
	font-size: 16px;
	padding-top: 10px;
	color: #f0b88d;
}
.item {
  align-items: center;
  color: white;
  max-width: 100%;
  height: 350px;
  margin: 50px 0px 0px 10px;
  justify-content: center;
  width: 90%;
  align-items: center;
}

#saction2 .col{
	width: 50%;
}
#saction2 .col{
	margin-top: 100px;
}
#saction2 .col .details{
	padding-top: 150px;
}
#saction2 .col .details h1{
	font-weight: 400px;    
	color: #6d6a6a;
	font-size: 16px;
	font-family: 'Karla'
}
#saction2 .col .details h2{
	font-size: 60px;
	color: #333;
	padding-top: 20px;
	font-family: 'Abhaya Libre';
}
#saction2 .col .details p{
	font-size: 16px;
	font-family: 'karla';
	font-weight: 400;
	line-height: 1.75;
	color: #6d6a6a;
	padding-top: 20px;
}
#saction1 .col .details h3{
	font-size: 16px;
	padding-top: 10px;
	color: #f0b88d;
}


#saction2 .col .details h3{
	font-size: 18px;
	padding-top: 10px;
	color: #f0b88d;
}
#saction .col image{
	display: inline-block;
}

#pricelist .heading{
	padding-top: 43px;
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 400;
    font-family: Abhaya Libre;
}
#pricelist .line{
	margin-bottom: 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid #6d6a6a;
}
#pricelist .line h2{
	font-size: 25px;
	font-family: Abhaya Libre;
	font-weight: 400;
}
#pricelist .line h3{
	font-family: 'Karla';
	color: #6d6a6a;
	font-size: 16px;
}
#pricelist .price{
	font-family: 'Abhaya Libre';
	color: #f0b88d;
	font-size: 25px;	
}

#banner2{
	background-image: url('../images/banner3 .jpg');
	background-size: cover;
	min-height: 500px;
	padding-top: 50px;
}
#banner2 .icon{
	font-size: 50px;
	float: right;
	padding-top: 100px;
}
#banner2 .dflex{
	justify-content: end;
}
#banner2 li{
	display: inline-block;
	font-size: 50px;
	padding-left: 55px;
}

#footer1{
	background-color: #000;
	background-size: cover;
	min-height: 500px;
	padding-top: 40px;
}
#footer1 .col1{
	width: 60%;
}
#footer1 .col1 .logo{
	font-size: 16px;
	color: #fff;
	letter-spacing: 2px;
	font-family: 'Karla';
}
#footer1 .col1 p{
	padding-top: 20px;
	color: #fff;
}
#footer1 .col2 ul{
	display: inline-block;
	color: #fff;
	padding-top: 20px;
	letter-spacing: 15px;
}
#footer1 .col2 ul:hover{
	cursor: pointer;
}
#footer1 .col3{
	width: 40%;
	height: 200px;
}
#footer1 .col3 h1{
	font-family: Abhaya Libre;
	font-size: 20px;
	color: #fff;
	padding-bottom: 20px;
}
#footer1 .form input[type=email]{
	display: block;
	width: 100%;
	background-color: #333;
	padding: 10px;
	border: 1px solid #7d6f62;
	outline: 0px;

}
#footer1 .form input:hover{
	color: #fff;
	outline: 0px;
}
#footer1 .form button{
	padding: 10px;
	color: #fff;
	background-color: #7d6f62;
}
#footer1 .form button:hover{
	background-color: #6b6767;
	
}
#footer1 h1{	
	font-size: 14px;
	color: #fff;
}
#footer1 .links{
	padding-bottom: 20px;
}
#footer1 .links li,#footer1 .col2 li{
	display: inline-block;
}
#footer1 .links li a{
	padding: 7px;
	color: #fff;
}
#footer1 .links li:after{
	display: block;
	content: "";
	height: 1px;
	width: 0px;
	transition: all 0.6s;
	background-color: #fff;
}
#footer1 li:hover:after{
	width: 38px;
}